.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer{
    width: 200px;
    height: 400px;
    margin:10px;
    border-radius: 10px;
    background-color: rgb(176, 176, 176);
}